* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(241, 130, 130, 0.6);
    pointer-events: none;  /* Avoid interfering with mouse  */
    animation: fadeOut 19s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: scale(2);
    }
}